<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Dashboard</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" />
<link th:href="@{/css/AdminLTE.css}" rel="stylesheet" type="text/css" />

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/js/AdminLTE/app.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.bootstrap-growl.js}"></script>
</head>

<body class="skin-blue">

	<header class="header">
		<a href="#" class="logo"> TOKO Batch-3 </a>
		<nav class="navbar navbar-static-top" role="navigation">

			<a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas"
				role="button"> <span class="sr-only">Toggle navigation</span> <span
				class="icon-bar"></span> <span class="icon-bar"></span> <span
				class="icon-bar"></span>
			</a>
		</nav>
	</header>
	<div class="wrapper row-offcanvas row-offcanvas-left">

		<aside class="left-side sidebar-offcanvas">

			<section class="sidebar">

				<ul class="sidebar-menu">
					<li class="active"><a href="index.html"> <i	class="fa fa-windows"></i> <span>Dashboard</span></a></li>
					<li><a href="#"> <i class="fa fa-tasks"></i> <span>Data	Barang</span></a></li>
					<li><a href="#"> <i class="fa fa-tasks"></i> <span>Data	Customer</span></a></li>
					<li><a href="#"> <i class="fa fa-book"></i> <span>User</span></a></li>
					<li><a href="#"> <i class="fa fa-book"></i> <span>Logout</span></a></li>
				</ul>
			</section>
		</aside>

		<aside class="right-side">
			<section class="content-header">
				<h1>
					Form Tambah Barang <small></small>
				</h1>
				<ol class="breadcrumb">
					<li class="active"> Dashboard</li>
					<li class="active">Data Barang</li>
					<li class="active">Form Tambah Barang</li>
				</ol>
			</section>
			<section class="content">
				<div class="row">
					<div class="col-sm-6">
						<div class="box box-primary">

							<form class="form-horizontal" th:object="${barang}"	th:action="@{barang/create}" method="post">
								<input type="hidden" th:field="*{idBarang}" />
								<div class="box-body">

									<div class="form-group">
										<label class="col-sm-2 control-label">Nama Barang</label>
										<div>
											<input type="text" required class="form-control" placeholder="Nama Barang" th:field="*{namaBarang}" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Jumlah</label>
										<div>
											<input type="text" required class="form-control" placeholder="Jumlah" th:field="*{Jumlah}" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Harga</label>
										<div>
											<input type="text" required class="form-control" placeholder="Harga" th:field="*{Harga}" />
										</div>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-primary">Simpan</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</section>


		</aside>
	</div>
	
</body>


</html>

